.Header {
  background-color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.NavList {
  width: fit-content;
  display: flex;
}

.NavList_item:not(:last-child) {
  margin-right: 10px;
}

.Link {
  display: block;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  background-color: lightsalmon;
  padding: 5px 10px;
}

.Link_active {
  composes: Link;
  background-color: #fff;
}

.Link_back {
  background-color: transparent;
  border: none;
  padding: 5px 0;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
