.Container {
  background-color: #fff;
  padding: 10px;
}

.TopInfo {
  display: flex;
}

.Poster {
  margin-right: 10px;
  width: auto;
}

.Info {
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.Info_mainTitle {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.Info_title {
  display: block;
  margin-bottom: 5px;
}

.Overview {
  font-size: 18px;
  padding: 20px 0;
}

.TopText {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
}

.Link {
  font-size: 18px;
  color: darkcyan;
  text-decoration: underline;
}

.Link_back {
  color: #fff;
  padding: 5px 0;
  text-decoration: underline;
  display: inline-block;
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  background-color: lightsalmon;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
